* {
  box-sizing: border-box;
}

.zoom {
  transition: transform 0.2s ease;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.04);
}
.cardtime {
  gap: 118px;
  display: flex;
  margin-top: 20px;
}
.header {
  background-color: #e2feff;
  padding-top: 20px;
  margin-top: -24px;
  padding-bottom: 1px;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
